@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    color: #1f2124;
}

.conteiner {
    width: 1440px;
    margin: 0 auto;
}

/* Cabeçalho */

header {
    width: 100%;
    height: 128px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: sticky;
    top: 0;
    z-index: 999;

    background-image: linear-gradient(180deg, #d7d7d7e0 0%, #ffffff00 100%);
}

header .menu {
    width: 96%;
    height: 85px;
    padding: 20px 50px;

    border-radius: 10px;

    display: flex;

    background-color: white;

}

header .menu .navegacao {
    list-style: none;

    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

header .menu .navegacao a {
    font-weight: 500;

    text-decoration: none;

    color: #1f2124;
}

header .menu .navegacao .idiomas {
    display: flex;
    gap: 5px;
}

header .menu .navegacao .idiomas img {
    width: 25px;
}

/* Video Banner */

.video-banner {
    width: 100%;

    margin-top: -35px;
    padding: 1px;
    position: relative;
    z-index: -12000;
}

.video-banner video {
    width: 100%;
    height: 600px;

    display: block;

    object-fit: cover;
}

/* Conheça o Parque */

.conheca-parque .conteiner {
    padding: 50px 0;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    gap: 10px;
}

.conheca-parque .slogan {
    flex-basis: 50%;
}

.conheca-parque .slogan img {
    max-width: 100%;
}

.conheca-parque .texto {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;

    padding-top: 27.5px;

    color: #1f2124;

    flex-basis: 50%;
}

.conheca-parque .texto p {
    margin-bottom: 20px;
}

.conheca-parque .btn-conheca-parque {

    border-radius: 4px;
    padding: 15px;

    text-decoration: none;
    font-size: 13px;
    font-weight: 500;

    transition: 0.3s;

    color: white;
    background-color: #1478BD;

}

.conheca-parque .btn-conheca-parque:hover {

    box-shadow: 5px 5px 10px 0px #0000003f;

    background-color: #006627;

}

/* Ambiente Ideal */

.ambiente-ideal .conteiner {
    border: solid rgba(134, 134, 134, 0.349) 1px;

    height: 150px;

    border-radius: 25px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    max-width: 60%;
    flex-direction: row;

    margin-bottom: 50px;


}

.ambiente-ideal .logo-parquetec-redondo img {
    width: 100px;
    height: 100px;
}

.ambiente-ideal .conecte-se {
    border-radius: 5px;

    padding: 15px 25px 15px 25px;
    background-image: linear-gradient(84deg, rgb(50, 193, 33) 20%, rgb(9, 156, 97) 100%);
    background-color: #006627;

}

.ambiente-ideal .conecte-se a {
    color: #fff;
    text-decoration: none;

}


/* Blog */

.titulo-secao {
    text-align: center;
    margin-bottom: 50px;
    font-size: 44px;
    font-weight: 700;
    color: #2d2d2d;
}

.nosso-blog {
    padding: 50px 0 50px 0;

    background-color: #f8f7f7;
}

.nosso-blog .publicacoes {
    display: flex;
    flex-direction: row;

    gap: 50px;
}

.nosso-blog .publicacao {
    flex-basis: 33%;

    padding: 15px;
    border-radius: 10px;

    box-shadow: 0 0 10px #d4d4d4;

    transition: all 0.3s;

    background-color: #fff;
}

.nosso-blog .publicacao:hover {
    transform: translateY(-10px);

    box-shadow: 0 20px 40px #0000003a;
}

.nosso-blog h2 {
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;

    margin: 10px 0 10px 0;

    color: #2d2d2d;
}

.nosso-blog p {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;

    color: #2d2d2d;

}

.nosso-blog .publicacao img {
    max-width: 100%;
}

/* Videos */

.nosso-videos {
    padding: 50px 0 50px 0;

    background-color: #f8f7f7;
}

.nosso-videos .videos {
    display: flex;
    flex-direction: row;

}

.nosso-videos .video {
    width: 350px;
    height: 230px;

    padding: 15px;
    border-radius: 10px;
}

.nosso-videos .video img {
    max-width: 100%;
    max-height: 100%;

    aspect-ratio: 16/9;
    object-fit: cover;

    border-radius: 10px;
}

.nosso-videos h2 {
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;

    margin: 10px 0 10px 0;

    color: #2d2d2d;
}

/* Rodapé */

.rodape {
    width: 100%;
    min-height: 620px;
    padding: 70px 5% 25px;

    color: white;

    background: 
         radial-gradient(
            circle at 8% 5%,
            rgba(255, 0, 30, 0.85) 0%,
            rgba(255, 0, 30, 0.35) 25%,
            transparent 50%
        ),
        radial-gradient(
            circle at 92% 8%,
            rgba(255, 190, 0, 0.9) 0%,
            rgba(255, 190, 0, 0.4) 30%,
            transparent 55%
        ),
        radial-gradient(
            circle at 85% 90%,
            rgba(100, 190, 30, 0.8) 0%,
            rgba(100, 190, 30, 0.4) 30%,
            transparent 60%
        ),
        radial-gradient(
            circle at 35% 90%,
            rgba(30, 80, 180, 0.8) 0%,
            rgba(30, 80, 180, 0.35) 35%,
            transparent 65%
        ),
        linear-gradient(
            135deg,
            #b9233c,
            #735276,
            #3e6d87,
            #6b9c36
        );
}

.rodape-topo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    margin-bottom: 65px;
}

.rodape-logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.rodape-logo img:first-child {
    width: 365px;
    max-width: 100%;
    height: auto;
}

.rodape-logo img:last-child {
    width: 220px;
    max-width: 100%;
    height: auto;
}

.newsletter {
    display: flex;
    align-items: center;
    gap: 25px;

    margin-top: 5px;
}

.newsletter-form {
    display: flex;
    width: 540px;
    height: 54px;
}

.newsletter-form input {
    width: 385px;
    height: 54px;

    border: none;
    outline: none;

    padding: 0 22px;

    font-size: 16px;
    color: white;

    background-color: rgba(255, 255, 255, 0.35);

    border-radius: 10px 0 0 10px;
}

.newsletter-form input::placeholder {
    color: white;
    opacity: 1;
}

.newsletter-form button {
    width: 155px;
    height: 54px;

    border: none;
    border-radius: 0 5px 5px 0;

    background-color: #087bc1;
    color: white;

    font-size: 16px;

    cursor: pointer;

    transition: 0.5s;
}

.newsletter-form button:hover {
    background-color: #059e26;
}

.newsletter p {
    width: 270px;

    font-size: 17px;
    line-height: 1.15;

    letter-spacing: 0.5px;
}


.rodape-menus {
    width: 58px;

    margin-left: 30%;

    display: flex;
    justify-content: space-between;
    gap: 120px;
    
    margin-bottom: 65px;
}


.menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.menu h3 {
    font-size: 18px;
    font-weight: bold;

    letter-spacing: 0.8px;

    margin-bottom: 2px;
}

.menu a {
    color: white;
    text-decoration: none;

    font-size: 17px;
    font-weight: 600;

    letter-spacing: 0.4px;

    transition: 0.2s;
}

.menu a:hover {
    text-decoration:underline ;
}

.rodape-acoes {
    width: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    margin-bottom: 70px;
}

.voltar-topo {
    width: 162px;
    height: 46px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;

    background-color: rgba(210, 220, 150, 0.65);
    color: white;

    text-decoration: none;
    font-size: 16px;

    transition: 0.2s;
}

.voltar-topo:hover {
    background-color: rgba(230, 235, 180, 0.8);
}

.rodape-politicas {
    width: 100%;

    display: flex;
    justify-content: space-between;
    gap: 10px;

    margin-bottom: 65px;
}

.rodape-politicas a {
    color: white;

    text-decoration: none;

    font-size: 16px;

    transition: 0.2s;

}

.rodape-politicas a:hover {
    opacity: 0.7;
}

.copyright {
    width: 100%;

    text-align: center;

    font-size: 14px;

    padding-top: 0;
}

.copyright p {
    color: white;
}
